@use './variables' as *;
@use './responsive' as *;

@font-face {
  font-family: 'BCCubano';
  src: url('../assets/fonts/Cubano.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  max-width: 100%;
  // overflow: scroll;
  background-color: $primary;
}

.primary-button {
  transition: all 0.4s ease;
  padding: 8px 16px;
  background-color: $secondary;
  cursor: pointer;
  border: none;
  font-family: $font-stack;

  &:hover {
    color: #fff;
    opacity: 75%;
    scale: 1.05;
  }
}

.secondary-button {
  transition: all 0.4s ease;
  padding: 8px 16px;
  border: 1px solid $secondary;
  cursor: pointer;
  font-family: $font-stack;

  &:hover {
    color: #fff;
    background-color: $secondary;
    // opacity: 75%;
    scale: 1.05;
  }
}

.layout {
  // height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  // min-height: 100%;

  @include lg {
    max-width: 1280px;
  }

  @include md {
    max-width: 768px;
  }

  @include sm {
    // background-color: #fcf5f3;
    max-width: 640px;
  }

  .content-wrapper {
    // height: calc(100vh - 84px);
    // background-color: rgb(165, 87, 194);
  }
}

.container-fluid {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  /* 28px left + 28px right */
  // margin: 24px 28px;
  padding: 20px 0;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: $primary-dark;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.05);
  font-family: $font-stack;

  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      a {
        font-size: 32px;
        text-decoration: none;
        color: #C8AC77;
        font-weight: 900;

        &:hover,
        &:focus,
        &:active {
          color: #C8AC77;
        }
      }
    }

    .center {
      display: flex;
      gap: 42px;
    }

    .center a {
      transition: all 0.4s ease;
      padding: 12px 8px;
      color: $secondary;

      @include sm {
        display: none;
      }

      &:hover {
        color: $white;
        opacity: 75%;
        scale: 1.05;
      }
    }

    .right {
      display: flex;
    }

  }

}

.slider-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  .slider {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;

    &::-webkit-scrollbar {
      display: none; // hide scrollbar for cleaner look }
    }

    >* {
      flex: 0 0 80%; // each slide takes ~80% width on mobile
      scroll-snap-align: start;
      background: #eee; // demo
    }

    @include sm {
      >* {
        flex: 0 0 30%; // on tablets/desktops show ~3 slides }
      }
    }

    .slide {
      width: 100%;
      height: 100vh; // also make height full screen (optional)
      scroll-snap-align: start;
      scroll-snap-align: start;
      overflow: hidden;

      @include sm {
        flex: 0 0 30%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}

.about-section {
  text-align: center;
  padding: 0 124px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-label {
    margin-top: 46px;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff; // or accent color
    letter-spacing: 1px;
  }

  .about-title {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #c5a86a; // your gold color
    margin-top: 32px;
  }

  .about-desc {
    font-size: 0.95rem;
    font-weight: 400;
    color: $text-light-gray;
    max-width: 600px;
    margin-top: 32px;
  }

  .button-wrapper {
    display: flex;
    margin-top: 32px;
    gap: 64px;
  }
}

.menu-section {
  margin-top: 46px;

  .menu-heading {
    text-align: center;
    font-family: $font-stack;

    .menu-subtitle {
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 0.5rem;
    }

    .menu-title {
      margin-top: 24px;
      font-size: 2rem;
      font-weight: 800;
      text-transform: uppercase;
      color: $secondary;
    }
  }

  .menu-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 3rem;
    text-align: left;
  }

  .menu-column {
    margin-bottom: 24px;
  }

  .menu-category {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2rem 0 1rem;
    text-transform: uppercase;
  }

  .menu-item {
    min-height: 62.59px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
    // padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .item-name {
    font-weight: 700;
    text-transform: uppercase;
    color: #d5b26e;
  }

  .item-desc {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 0.25rem;
    text-transform: uppercase;
  }

  .item-price {
    font-weight: 600;
    white-space: nowrap;
    font-weight: bold;
  }

  .menu-image {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 200px;
      border-radius: 6px;
      display: block;
      margin-top: 36px;
    }
  }
}

.footer {
  background: url('../assets/imgs/footer-background.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;

  .footer-content-wrapper {
    padding: 140px 0;
  }
}